random2
numpy
Pillow
imageio
tqdm
transformers
typing-extensions==4.1.1

git+https://github.com/huggingface/transformers.git
git+https://github.com/patil-suraj/vqgan-jax.git
git+https://github.com/borisdayma/dalle-mini.git